{% extends 'blog/base.html' %}   

{% block content %}
    <body>
    <table class="table table-bordered">
        <thead>
                <tr>
                    <td>Nombre</td>
                    <td>Nombre de la enfermedad</td>
                    <td>sexo</td>
                    <td>edad</td>
                    <td>Fecha inicio de sintomas</td>
                    <td>Fecha fin de sintomas</td>
                    <td>vacunado</td>
                </tr>
        </thead>
        <tbody>
            {% if enfermedades%}
                {% for enfermedad in enfermedades%}
                    <tr>
                        <td>{{ enfermedad.nombre }}</td>
                        <td>{{ enfermedad.nombreEnfermedad }}</td>
                        <td>{{ enfermedad.sexo }}</td>
                        <td>{{ enfermedad.edad }}</td>
                        <td>{{ enfermedad.inicio_sintomas }}</td>
                        <td>{{ enfermedad.fin_sintomas }}</td>
                        <td>{{ enfermedad.vacunado }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <h1>no tiene registro aun<h1>
            {% endif %}
        </tbody>
    </table>
    </body>
{% endblock %}