{% extends 'blog/base.html' %}
{%load static%}
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'css/registrar.css' %}">
    </head>
    <body>
     <div class="estructura">
            <img class="avatar" src="{% static 'img/mascota.png' %}" alt="avatar potro">
            <h1 class="titulo">Registrate</h1>
            <form action="" method="POST">
                {% csrf_token %}
                <!--first_name','last_name','email','username','password1','password2'-->
                <div>
                    <label for="first_name">Nombre</label>
                    <input type="text" name="first_name" placeholder="Nombre(S)">
                </div>
                <div>
                    <label for="last_name">Apellidos</label>
                    <input type="text" name="last_name" placeholder="Apellidos ">
                <div>
                 <div>
                    <label for="email">Correo electrónico</label>
                    <input type="text" name="email" placeholder="correo electronico">
                </div>
                <div>
                    <label for="username">Nombre de usuario</label>
                    <input type="text" name="first_name" placeholder="nombre de usuario sin espacios">
                </div>
                <div>
                    <label for="password1">Contraseña</label>
                    <input type="password1" name="password1" placeholder="Ingresa la contraseña 8 caracteres minimo">
                <div>
                <div>
                    <label for="password2">Confirmar contraseña</label>
                    <input type="password2" name="password2" placeholder="Ingresa la contraseña 8 caracteres minimo">
                <div>
                <input type="submit" value="Registrar" class="boton" placeholder="Registrar">
            </form>
        </div>
    </body>
{% endblock %}