{% extends 'blog/base.html' %}

{% block content %}
    <div class="content container">
        {% if user.is_authenticated %}
            <div class="row">
                <div class="col-md-8">
                    {% for post in posts %}
                        <div class="post">
                            <div class="date">
                                {{ post.published_date }}
                            </div>
                            <h2>{{ post.title }}</h2>
                            <p class="texto">{{ post.text|linebreaksbr }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class ="titulo">
                <h1>¡Bienvenidos!</h1>
                <h2>Inicia sesion o registrate para poder compartir tu experiencia con la enfermedad de Covid-19</h2>
            </div>
        {% endif %}
    </div> 
{% endblock %}